* {
    outline: none;
}

.cost-price__wrap {
    padding-bottom: 0;
}

.page-remont .section-partners .partners:first-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.about-us__video iframe {
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {

    .about-us__video iframe {
        height: 100vh;
    }

}

.dropdown ul {
    width: auto;
    min-width: 100%;
}

.addresses_catalog a {
    margin-bottom: 0;
}

.product-single__title h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
}

@media screen and (max-width: 1440px) {

    .product-single__title h1 {
        font-size: 22px;
    }

}

@media screen and (max-width: 549px) {

    .product-single__title h1 {
        font-size: 20px;
    }

}

/* запрещаем перенос 1/11 */
.slider-nav__pagination,
.slider-nav__pagination h3,
.slider-nav__pagination span {
  white-space: nowrap;
}

/* аккуратное выравнивание */
.slider-nav__pagination { 
  text-align: center; 
  min-width: 72px;      /* чтобы точно не ломалось */
}

/* на узких экранах можно чуть уменьшить размер */
@media (max-width: 576px){
  .slider-nav__pagination h3{
    font-size: 18px;
    line-height: 1.1;
  }
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px; /* расстояние между стрелками и надписью */
  text-align: center;
}

.slider-nav__arrow {
  flex: 0 0 auto; /* стрелки не растягиваются */
}

.slider-nav__pagination {
  flex: 0 0 auto;   /* фикс ширины для счётчика */
  white-space: nowrap;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

/* --- fix блока, центрирование --- */
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.footer__block {
  flex: 1;
}

.footer__block:nth-child(2) {
  text-align: center; /* центрируем блок "Троицкое" */
}

.footer__block:nth-child(3) {
  text-align: right; /* выравниваем "Красный Яр" */
}
/* --- end fix --- */














/*
playback timings (ms):
  captures_list: 0.505
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.015
  esindex: 0.011
  cdx.remote: 73.883
  LoadShardBlock: 7898.662 (3)
  PetaboxLoader3.resolve: 5820.283 (3)
  PetaboxLoader3.datanode: 3858.306 (5)
  load_resource: 1987.363
  loaddict: 214.012
*/